span {
  display: block;
}
div.hidden {
  visibility: hidden;
}
p.position_static {
    position: static;
    top: 30px;
    right: 5px;
  color: red;
}
img {
  float: right;
}
.floating {
  float: right;
}